<%provide(:title, 'Contact')%>
<h1>Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Please contact the Ruby on Rails Adventure 
  at the <a href="http://rubyonrails.org/">Ruby on Rails website</a> 
  website.
</p>
